### 1. Nominal/OHE Encoding (Also called One Hot Encoding)
### 2. Label and Ordinal Encoding
### 3. Target guided Ordinal Encoding

In [1]:
import pandas as pd

In [2]:
from sklearn.preprocessing import OneHotEncoder

In [3]:
##Create a dataframe

df = pd.DataFrame({'color':['red','blue','green','green','red','blue']})

In [8]:
df

   color
0    red
1   blue
2  green
3  green
4    red
5   blue

In [5]:
#create an instance of onehot encodeer

encoder=OneHotEncoder()

In [6]:
## perform fit and then transform

encoder.fit_transform(df[['color']])

<Compressed Sparse Row sparse matrix of dtype 'float64'
	with 6 stored elements and shape (6, 3)>

In [9]:
encoded=encoder.fit_transform(df[['color']]).toarray()

In [10]:
encoded

array([[0., 0., 1.],
       [1., 0., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 0., 1.],
       [1., 0., 0.]])

In [11]:
encoded_df=pd.DataFrame(encoded, columns=encoder.get_feature_names_out())

In [12]:
encoded_df

   color_blue  color_green  color_red
0         0.0          0.0        1.0
1         1.0          0.0        0.0
2         0.0          1.0        0.0
3         0.0          1.0        0.0
4         0.0          0.0        1.0
5         1.0          0.0        0.0

In [17]:
encoder.transform([['blue']]).toarray()

d:\berlin\udemy\projects\lambda\venv\Lib\site-packages\sklearn\utils\validation.py:2739: UserWarning: X does not have valid feature names, but OneHotEncoder was fitted with feature names
  warnings.warn(

array([[1., 0., 0.]])

In [18]:
## label encoding

# simple numericle value for each feature

df

   color
0    red
1   blue
2  green
3  green
4    red
5   blue

In [19]:
from sklearn.preprocessing import LabelEncoder

In [21]:
lbl_encoder=LabelEncoder()

In [23]:
lbl_encoder.fit_transform(df['color'])

array([2, 0, 1, 1, 2, 0])

In [26]:
lbl_encoder.transform([['red']])

d:\berlin\udemy\projects\lambda\venv\Lib\site-packages\sklearn\preprocessing\_label.py:129: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, dtype=self.classes_.dtype, warn=True)

array([2])

In [32]:
## Ordnial Encoding is based on the basis of ranks or sizes 

from sklearn.preprocessing import OrdinalEncoder

ord_encoder= OrdinalEncoder(categories=[['small','medium','large']])

In [33]:
df_1=pd.DataFrame({'size':['small','medium','large','small','large']})

In [34]:
df_1

     size
0   small
1  medium
2   large
3   small
4   large

In [36]:
#create an instance of ordnial and then perform fit_transform

ord_encoder.fit_transform(df_1[['size']])

array([[0.],
       [1.],
       [2.],
       [0.],
       [2.]])

In [37]:
df_1

     size
0   small
1  medium
2   large
3   small
4   large