#### Target guided ordinal encoding

In [4]:
import pandas as pd

df=pd.DataFrame({'city':['NY','London','Paris','Berlin','NY','Munich'],
                 'price':[200,150,300,250,180,320]})

In [5]:
df

     city  price
0      NY    200
1  London    150
2   Paris    300
3  Berlin    250
4      NY    180
5  Munich    320

In [8]:
## Here price is the trarget variable and we will convert city the 
# categorical variable in to encoding using target variable

# For NY we will take mean of the target value and convert that in to categorical variabel for NY


mean_price=df.groupby('city')['price'].mean().to_dict()
mean_price

{'Berlin': 250.0,
 'London': 150.0,
 'Munich': 320.0,
 'NY': 190.0,
 'Paris': 300.0}

In [9]:
df['city_encoded']=df['city'].map(mean_price)
df

     city  price  city_encoded
0      NY    200         190.0
1  London    150         150.0
2   Paris    300         300.0
3  Berlin    250         250.0
4      NY    180         190.0
5  Munich    320         320.0

In [10]:
# Now i dont have to consider feature city I will only have two numerical feature 
# becaue we have converted the categorical feature in to numericle feature